'exception-reporting':
  'userId': '36d15796-2e0c-02a8-94a7-132e8f474ab7'
'release-notes':
  'viewedVersion': '0.84.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '9e683ad8bb67d3a1b9eb1297ca4a4a4b336d28b0'
'editor':
  'fontSize': 15
  'preferredLineLength': 120
  'normalizeIndentOnPaste': false
  'showInvisibles': true
  'invisibles':
    'cr': '↩'
    'eol': ''
    'space': '·'
    'tab': '⇥'
  'softWrap': true
  'showIndentGuide': true
  'fontFamily': 'consolas'
'core':
  'themes': [
    'atom-dark-ui'
    'twilight'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'disabledPackages': [
    'whitespace'
  ]
'tree-view': {}
